*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/*.jar

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.trace.db

.gradle/
build/
logs/
out/
/.idea/
/res/record.h2.mv.db
/res/record.sqlite.db
/config.json
/group.json
/data/data.mv.db
log/
src/test/kotlin/Experiment.kt
