*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/
build/
logs/
bin/KnowledgeBase.txt
#
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/dbnavigator.xml
/.idea/workspace.xml
/.idea/modules/
KnowledgeBase.txt
out/
/ShowMsg.properties
/.idea/
