<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<conversionRule conversionWord="highlight"
	                converterClass="avalon.util.HighLightConverter"/>
	<conversionRule conversionWord="loggerHighlight"
	                converterClass="avalon.util.LoggerHighLightConverter"/>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>false</withJansi>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %loggerHighlight(%logger{36}) - %highlight(%msg)
				%n
			</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="Console"/>
	</root>
</configuration>